[submodule "vim/bundle/local_vimrc"]
	path = vim/bundle/local_vimrc
	url = https://github.com/LucHermitte/local_vimrc.git
[submodule "vim/bundle/lh-vim-lib"]
	path = vim/bundle/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib.git
