[submodule "vim/bundle/local_vimrc"]
	path = vim/bundle/local_vimrc
	url = https://github.com/LucHermitte/local_vimrc.git
[submodule "vim/bundle/lh-vim-lib"]
	path = vim/bundle/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/bundle/table-mode"]
	path = vim/bundle/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/bundle/vim-table-mode"]
	path = vim/bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/vim-glsl"]
	path = vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
