[submodule "vim/bundle/local_vimrc"]
	path = vim/bundle/local_vimrc
	url = https://github.com/LucHermitte/local_vimrc.git
[submodule "vim/bundle/lh-vim-lib"]
	path = vim/bundle/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/bundle/table-mode"]
	path = vim/bundle/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/bundle/vim-table-mode"]
	path = vim/bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/vim-glsl"]
	path = vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/vaxe"]
	path = vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule "vim/bundle/lh-tags"]
	path = vim/bundle/lh-tags
	url = git@github.com:LucHermitte/lh-tags.git
[submodule "vim/bundle/lh-dev"]
	path = vim/bundle/lh-dev
	url = git@github.com:LucHermitte/lh-dev.git
[submodule "vim/bundle/lh-brackets"]
	path = vim/bundle/lh-brackets
	url = git@github.com:LucHermitte/lh-brackets.git
[submodule "vim/bundle/searchInRuntime"]
	path = vim/bundle/searchInRuntime
	url = git@github.com:LucHermitte/searchInRuntime.git
[submodule "vim/bundle/mu-template"]
	path = vim/bundle/mu-template
	url = git@github.com:LucHermitte/mu-template.git
[submodule "vim/bundle/stakeholders_vim"]
	path = vim/bundle/stakeholders_vim
	url = git@github.com:tomtom/stakeholders_vim.git
[submodule "vim/bundle/alternate-lite"]
	path = vim/bundle/alternate-lite
	url = git@github.com:LucHermitte/alternate-lite.git
[submodule "vim/bundle/lh-cpp"]
	path = vim/bundle/lh-cpp
	url = git@github.com:LucHermitte/lh-cpp.git
[submodule "vim/bundle/lh-style"]
	path = vim/bundle/lh-style
	url = https://github.com/LucHermitte/lh-style.git
